body {
    font-family: sans-serif;
}

nav a{
    text-decoration: none;
    font-size: 20px;
}

.special_link {
    background-color: rgb(197, 2, 2);
    color: white;
    margin: 100px 0px 0px 200px;
}




font {
    background-color: ;
    padding: 5px;
}

footer p {
    font-size: 20px;
}
header img {
    padding-right: 690px;
    background-color: green;
}
.link {
    margin-left: 40px;
    border: 3px solid black;
    margin-top: 100px;
}
.special {
    margin-right: 50px;
    margin-left: 40px;
    border: 3px solid black;
    margin-top: 100px;
}
font {
    color: green
}
footer {
 background-color: green;
 padding: 10px;
}
footer p {
    background-color: white;
    padding-right: 600px;
}
